html
    head
        title besked
        script(async, defer, src="/scripts/deleteMessage.js")
    body
        p(id="messageid", itemid=message.messageid) besked identifikation: #{message.messageid}
        br
        p besked ejer: #{message.owner}
        br
        p besked indhold: #{message.message}
        br
        p sendt: #{message.timestamp}
        br
        p(id="chatid", itemid=message.chatroomid) tilhørende chatrumID: #{message.chatroomid}
        br
        if (sessionname != guest && message.owner == sessionname || sessionlv == 3)
            button(id="deletebutton" type="submit") Slet besked 
        br
        a(href='/chats/'+message.chatroomid+"/messages") Gå tilbage til chatten her